.girar-ruleta {
    animation: girarRuleta 5s cubic-bezier(.15,.25,0,1);
    animation-fill-mode: forwards;
}
@keyframes girarRuleta {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(var(--giro));
    }
}   


.ruleta {
    filter: grayscale(100%)
}

.fade{
    animation: fade 2s ease-in-out  0s normal 1 both ;
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 100;
    }
    100%{
        opacity: 0;
    }
    
}
